<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name="android.permission.HIDE_OVERLAY_WINDOWS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.nfc" />
    <uses-feature android:name="android.hardware.location" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />
    <uses-feature android:name="android.hardware.wifi" />
    <uses-feature android:name="android.hardware.wifi.direct" />
    <uses-feature android:name="android.hardware.touchscreen" />
    <uses-feature android:name="android.hardware.microphone" />
    <uses-feature android:name="android.hardware.ethernet" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" /> <!-- <application> -->
    <!-- <receiver android:name=".BootReceiver"> -->
    <!-- <intent-filter> -->
    <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
    <!-- </intent-filter> -->
    <!-- </receiver> -->
    <!-- <service android:name=".AlarmService" /> -->
    <!-- </application> -->
    <!-- <receiver android:name=".AlarmReceiver" /> -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="@string/default_notification_channel_id" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/flag_bangladesh"
        android:label="@string/app_name"
        android:roundIcon="@drawable/flag_bangladesh"
        android:supportsRtl="true"
        android:theme="@style/Theme.MYAPP"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".course.CoursePage"
            android:exported="false" />
        <activity
            android:name=".course.CategoryPage"
            android:exported="false" />
        <activity
            android:name=".faculty.TeachersPage"
            android:exported="false" />
        <activity
            android:name=".web.WebServer"
            android:exported="false" />
        <activity
            android:name=".web.WifiWeb"
            android:exported="false" />
        <activity
            android:name=".scanner.AutoFocus"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".attendance.SetAttendance"
            android:exported="false" />
        <activity
            android:name=".scanner.ScanIDActivity"
            android:exported="false" />
        <activity
            android:name=".scanner.ScanIDCard"
            android:exported="false" />
        <activity
            android:name=".settings.Permission"
            android:exported="false" />
        <activity
            android:name=".settings.Settings"
            android:exported="false"
            android:label="Settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bubble.WidgetLaunce"
            android:enabled="true"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".bubble.Widget"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name=".bubble.AppWidget"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name=".bubble.MaxBubble"
            android:exported="false" />
        <activity
            android:name=".bubble.Bubble"
            android:exported="false" />
        <activity
            android:name=".welcome.deep.DeepLink"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="edubox.edu"
                    android:pathPrefix="/edu"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="edu.edu"
                    android:pathPrefix="/edu"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="edu.edu"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="farhad.foysal"
                    android:pathPrefix="/ff"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="farhad.foysal"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="farhad.foysal"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="edubox.edu"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="edubox.edu"
                    android:pathPrefix="/edu"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".subject.SubjectPanel"
            android:exported="false"
            android:theme="@style/Theme.CustomTabLayout" />
        <activity
            android:name=".subject.AllSubjects"
            android:exported="false"
            android:theme="@style/Theme.CustomTabLayout" />
        <activity
            android:name=".subject.CreateSubject"
            android:exported="false"
            android:theme="@style/Theme.CustomTabLayout" />
        <activity
            android:name=".cls.GenerateClasses"
            android:exported="false"
            android:theme="@style/Theme.CustomTabLayout" />
        <activity
            android:name=".cls.CreateClass"
            android:exported="false"
            android:theme="@style/Theme.CustomTabLayout" />
        <activity
            android:name=".cls.ClassPanel"
            android:exported="false"
            android:theme="@style/Theme.CustomTabLayout" />
        <activity
            android:name=".cls.AllClasses"
            android:exported="false"
            android:theme="@style/Theme.CustomTabLayout" />
        <activity
            android:name=".std.UpdateStudent"
            android:exported="false" />
        <activity
            android:name=".std.StudentProfilePanel"
            android:exported="false" />
        <activity
            android:name=".std.StudentDashboard"
            android:exported="false" />
        <activity
            android:name=".std.StudentsPage"
            android:exported="false"
            android:theme="@style/Theme.CustomTabLayout" />
        <activity
            android:name=".std.AddStudentPanel"
            android:exported="false"
            android:theme="@style/Theme.Onboarding" />
        <activity
            android:name=".session.SessionPanel"
            android:exported="false" />
        <activity
            android:name=".session.AllSession"
            android:exported="false"
            android:theme="@style/Theme.Onboarding" />
        <activity
            android:name=".std.CommonAllStudentPanel"
            android:exported="false"
            android:theme="@style/Theme.Onboarding" />
        <activity
            android:name=".std.StudentDetails"
            android:exported="false" />
        <activity
            android:name=".routine.month.MonthlyRoutine"
            android:exported="false" />
        <activity
            android:name=".routine.day.DailyRoutine"
            android:exported="false" />
        <activity
            android:name=".routine.RoutinDetails"
            android:exported="false" />
        <activity
            android:name=".routine.RoutinMain"
            android:exported="false" />
        <activity
            android:name=".routine.RoutinPanel"
            android:exported="false" />
        <activity
            android:name=".major.MajorPanel"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".common.CommonActivity"
            android:exported="false" />
        <activity
            android:name=".major.AllDepartment"
            android:exported="false"
            android:theme="@style/Theme.Onboarding" />
        <activity
            android:name=".major.DepartmentPanel"
            android:exported="false"
            android:theme="@style/Theme.OnboardingMain" />
        <activity
            android:name=".common.FM"
            android:exported="false"
            android:theme="@style/Theme.OnboardingMain" />
        <activity
            android:name=".major.Department"
            android:exported="false"
            android:theme="@style/Theme.OnboardingMain" />
        <activity
            android:name=".scl.UpdateSchool"
            android:exported="false" />
        <activity
            android:name=".login.LoginMainActivity"
            android:exported="false"
            android:theme="@style/Theme.Onboarding" />
        <activity
            android:name=".sign.DialogForgot"
            android:exported="false"
            android:theme="@style/Theme.Onboarding" />
        <activity
            android:name=".login.LoginUser"
            android:exported="false"
            android:theme="@style/Theme.Onboarding" />
        <activity
            android:name=".sign.SignUp3rdClass"
            android:exported="false"
            android:theme="@style/Theme.starScreen" />
        <activity
            android:name=".sign.SignUp2ndClass"
            android:exported="false"
            android:theme="@style/Theme.starScreen" />
        <activity
            android:name=".login.signIn"
            android:exported="false"
            android:theme="@style/Theme.starScreen" />
        <activity
            android:name=".welcome.startScreen"
            android:exported="false"
            android:theme="@style/Theme.starScreen" />
        <activity
            android:name=".sign.createUser"
            android:exported="false"
            android:theme="@style/Theme.Onboarding" />
        <activity
            android:name=".sign.signUp"
            android:exported="false"
            android:theme="@style/Theme.starScreen" />
        <activity
            android:name=".scl.createSchool"
            android:exported="false"
            android:theme="@style/Theme.Onboarding" />
        <activity
            android:name=".tab.Tab"
            android:exported="false"
            android:theme="@style/viewPage" />
        <activity
            android:name=".welcome.onboard.SliderLayout"
            android:exported="false"
            android:theme="@style/Theme.Onboarding2" />
        <activity
            android:name=".view.ViewTwo"
            android:exported="false"
            android:theme="@style/Theme.Onboarding2" />
        <activity
            android:name=".login.LoginPage"
            android:exported="false"
            android:theme="@style/Theme.Onboarding" />
        <activity
            android:name=".welcome.onboard.SliderScreen"
            android:exported="false"
            android:theme="@style/Theme.Onboarding" />
        <activity
            android:name=".welcome.onboard.GetStarted"
            android:exported="false"
            android:theme="@style/Theme.Onboarding" />
        <activity
            android:name=".teacher.TeacherProfileUpdate"
            android:exported="false" />
        <activity
            android:name=".teacher.TeacherProfile"
            android:exported="false" />
        <activity
            android:name=".std.StudentProfileUpdate"
            android:exported="false" />
        <activity
            android:name=".std.StudentProfile"
            android:exported="false" />
        <activity
            android:name=".user.UserProfileUpdate"
            android:exported="false" />
        <activity
            android:name=".user.UserProfilePage"
            android:exported="false" />
        <activity
            android:name=".scl.schoolUpload"
            android:exported="false" />
        <activity
            android:name=".scl.SchoolPanel"
            android:exported="false" />
        <activity
            android:name=".display.displayThree"
            android:exported="false" />
        <activity
            android:name=".display.displayTwo"
            android:exported="false" />
        <activity
            android:name=".display.displayOne"
            android:exported="false" />
        <activity
            android:name=".panel.MainPanel"
            android:exported="false" />
        <activity
            android:name=".view.ViewOne"
            android:exported="false"
            android:theme="@style/Theme.Onboarding" />
        <activity
            android:name=".WelcomeScreen"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".shortCut"
            android:exported="false">

            <!-- <meta-data -->
            <!-- android:name="android.app.shortcuts" -->
            <!-- android:resource="@xml/shortcuts" /> -->
        </activity>
        <activity
            android:name=".scanner.ScanId"
            android:exported="false">

            <!-- <meta-data -->
            <!-- android:name="android.app.shortcuts" -->
            <!-- android:resource="@xml/shortcuts" /> -->
        </activity>
        <activity
            android:name=".std.AllStudentPanel"
            android:exported="false" />
        <activity
            android:name=".std.StudentPanel"
            android:exported="false" />
        <activity
            android:name=".main.UserPanel"
            android:exported="false" />
        <activity
            android:name=".sms.NotifyActivity"
            android:exported="false" />
        <activity
            android:name=".sms.sendSmss"
            android:exported="false" />
        <activity
            android:name=".scanner.ScanActivity"
            android:exported="false" />

        <receiver
            android:name=".Internet"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".UserDashboard"
            android:exported="false"
            android:theme="@style/bottomApBarTheme" />
        <activity
            android:name=".MainPanelActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".BottomNaviActivity"
            android:exported="false"
            android:label="@string/title_activity_bottom_navi" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="EdUBoX Login" />
        <activity
            android:name=".AllUsersActivity"
            android:exported="false" />
        <activity
            android:name=".activity_webview"
            android:exported="false" />
        <activity
            android:name=".activity_qr_scanner"
            android:exported="false" />
        <activity
            android:name=".ScannerActivity"
            android:label="MFFBoX~Scanner" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".welcome.Welcome"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
            <!-- <data android:scheme="https" android:host="edubox.edu" android:pathPrefix="/edu" /> -->
            <!-- </intent-filter> -->
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <service
            android:name=".bubble.Bubble"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".bubble.MaxBubble"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".bubble.AppWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".bubble.Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name=".bubble.AppWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name=".routine.ScheduleDataChanged"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.schedulerec.ACTION_SCHEDULE_DATA_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".WidgetUpdateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_layout" />
        </receiver>
        <receiver
            android:name=".bubble.WidgetAlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".routine.ScheduleProvider"
            android:authorities="com.edubox.admin.bubble"
            android:exported="false" />
    </application>

</manifest>